@using Microsoft.AspNetCore.Http
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard Pedido Eletrônico</title>
    <link rel="stylesheet" href="~/css/Areas/PedidoEletronico/Views/Dashboard/Index.css" />
    <script type="text/javascript" src="~/js/Areas/PedidoEletronico/Views/Dashboard/Index.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!--Pedido-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pedido</h5>
                        <p class="card-text">Quantidade de pedidos para serem atualizados.</p>
                        <div class="progress mx-auto" data-value='100'>
                            <span class="progress-left"> <span class="progress-bar border-primary progress-pedido"></span> </span> <span class="progress-right"> <span class="progress-bar border-primary progress-pedido"></span> </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold" id="qtde-pedido">80</div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="btn-pedido" onclick="VerificarPedidosNovosAtualizados()">
                            <i class="fas fa-circle-notch fa-spin" id="spin-pedido" hidden></i>
                            Atualizar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!--Produto-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Produto</h5>
                        <p class="card-text">Quantidade de produtos para serem atualizados.</p>
                        <div class="progress mx-auto" data-value='100'>
                            <span class="progress-left"> <span class="progress-bar border-primary progress-produto"></span> </span> <span class="progress-right"> <span class="progress-bar border-primary progress-produto"></span> </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold" id="qtde-produto">80</div>
                            </div>
                        </div>
                        <button type="button" id="btn-produto" class="btn btn-primary" onclick="VerificarProdutosNovosAtualizados()">
                            <i class="fas fa-circle-notch fa-spin" id="spin-produto" hidden></i>
                            Atualizar
                        </button>
                        <button type="button" class="btn btn-warning" id="btn-produto-sincronizar">
                            <i class="fas fa-circle-notch fa-spin" id="spin-produto-sincronizar" hidden></i>
                            Sincronizar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!--Cliente-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente</h5>
                        <p class="card-text">Quantidade de clientes para serem sincronizado.</p>
                        <div class="progress mx-auto" data-value='100'>
                            <span class="progress-left"> <span class="progress-bar border-primary progress-cliente"></span> </span> <span class="progress-right"> <span class="progress-bar border-primary progress-cliente"></span> </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold" id="qtde-cliente">80</div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="">
                            <i class="fas fa-circle-notch fa-spin" id="spin-cliente" hidden></i>
                            Atualizar
                        </button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>