@model IntegradorProphetSys.Models.Usuario.UsuarioModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cadastre-se</title>
    <script type="text/javascript" src="~/js/Views/Home/Cadastrar.js"></script>
    <link rel="stylesheet" href="~/css/Views/Home/Cadastrar.css" />

</head>
<body>
    <form asp-controller="Home" asp-action="Cadastrar" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Nome">Nome Completo</label>
                <input type="text" maxlength="60" class="form-control" id="Nome" placeholder="Nome Completo" asp-for="usr_nome">
                <span asp-validation-for="usr_nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="Email">Email</label>
                <input type="email" class="form-control" maxlength="60" id="Email" asp-for="usr_email" placeholder="Email">
                <span asp-validation-for="usr_email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" maxlength="160" placeholder="Password" asp-for="usr_senha_string" required>
            </div>
            <div class="form-group">
                <label for="Telefone">Telefone</label>
                <input type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="11" class="form-control Telefone" id="Telefone" placeholder="Telefone" asp-for="usr_telefone">
                <span asp-validation-for="usr_telefone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="Token">Token SuasVendas</label>
                <div id="TokenSV">
                    <input type="text" class="form-control" id="Token" maxlength="300" placeholder="Token SuasVendas" asp-for="usr_token_suasvendas"><a id="ValidarTokenSuasVendas" title="Clique para Validar o Token" href="#" onclick="ValidarTokenSuasVendas();return false;">Validar</a>
                </div>
                <i class="fas fa-circle-notch fa-spin" id="spin-carregando"></i><i class="fas fa-check-circle" id="check-image"></i><i class="far fa-times-circle" id="cross-image"></i>
                <span asp-validation-for="usr_token_suasvendas" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="CadastrarButton" disabled>Cadastrar</button>
    </form>
</body>
</html>
