@{
    ViewData["Title"] = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Escolha sua Integração</title>
    <link href="~/css/Views/Home/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Escolha sua Integração</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="@Url.Action("Index", "Home", new { area = "PedidoEletronico" })" class="btn btn-primary btn-custom"><img src="~/Images/PedidoEletronicoLogo.png" /></a>
            </div>
        </div>
    </div>
</body>
</html>
